NODE_ENV=production
PORT=10000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/mern-saas-admin-dashboard?retryWrites=true&w=majority
JWT_SECRET=<generate-a-long-random-secret>
JWT_EXPIRES_IN=7d
CLIENT_URLS=https://mern-saas-admin-dashboard.vercel.app,http://localhost:5173
