NODE_ENV=production
PORT=10000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/mern-saas-admin-dashboard?retryWrites=true&w=majority
JWT_SECRET=<generate-a-long-random-secret>
JWT_EXPIRES_IN=7d
CLIENT_URLS=https://mern-saas-admin-dashboard.vercel.app
CLOUDINARY_CLOUD_NAME=<cloudinary-cloud-name>
CLOUDINARY_API_KEY=<cloudinary-api-key>
CLOUDINARY_API_SECRET=<cloudinary-api-secret>
